* {
    box-sizing: border-box;
}

:root {
    --dark-blue: #1f2937;
    --beige: #e5e7eb;
    --azure: #3882f6;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0 auto;
}

.dark-background {
    background-color: var(--dark-blue);
    color: var(--beige);
 }

/* Navbar */
a {
    text-decoration: none;
}
.menu-link {
    color: white;
}
a:visited {
    color: white;
}

.navbar, .hero {
    display: flex;   
    padding: 0 6vw;
}
.navbar {
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 100px;
}
.navbar-logo {
    display: flex;
    align-items: center;
}
.fa-shield-dog {
    font-size: 48px;
    color: white;
    padding: 15px;
}

.nav-menu {
    list-style-type: none;
    cursor: pointer;
    display: flex;
    gap: 25px;
}
/* Hero */
.hero {
    align-items: center;
    justify-content: space-between;
}
 
.hero-text {
    max-width: 45%;
    line-height: 1.5;
 
}
.hero-text > * {
    margin-bottom: 3vh;
}
.hero-img {
    width: 600px;
    flex-shrink: 0;
    margin: 50px 0;
    border-radius: 15px;
}

.hero h1 {
    font-size: 48px;
    font-weight:900;
    margin: 0;
}

.cta, button {
    background-color: var(--azure)
}

button:hover {

transform: scale(1.1);
     
}
.hero-btn, .sign-up-btn, .join-btn {
    color: white;
    font-weight: bold;
    font-size: 20px;
    height: 60px;
    width: 180px;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;

}
/* Cards */
.cards, .testimonials, .form-page {
    color: var(--dark-blue);
}

.cards h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}
.service-description {
    margin: 0 auto 50px;
    text-align: center;
    max-width: 45%;
}
.cards-container {
    max-width: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
 
}

.card-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.card {
    border: 3px solid var(--azure);
    border-radius: 15px;
    height: 140px;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-caption {
max-width: 160px;
text-align: center;
font-size: 16px;
}

/* Testimonials */
.testimonials {
    margin-top: 50px;
    background-color: var(--beige);
    padding: 60px 400px;
}

.testimonial-text {
font-size: 30px;
font-style: italic;
font-weight:300;
margin: 0 auto;
}
.signature {
    font-weight: bold;
    text-align: right;
}

/* CTA */
.cta {
    max-width: 60%;
    margin: 80px auto;
    padding: 50px 80px;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-container h3 {
    font-size: 26px;

}

.cta-container > * {
    margin: 0;
    line-height: 1.5;
    max-width: 80%;
}

.sign-up-btn {
    border: 2px solid white;
    padding: 5px;
    width: 300px;
}

/* Footer */
footer {
    text-align: center;
    padding: 30px 150px;
}
.log-in, .log-in:visited {
    color: #622363;
}

/*Form Page*/
.page-container {
    display: flex;
}

.form-page {
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
             
}

.form-page p {
    margin-left: 50px;
}

.intro {
    width: 80%;
    height: 14vh;
    
}


.sidebar-img {
    background-image: url("./Assets/dog-pack.jpg");
    background-size: cover;
    width: 40%;
    position: relative;
 
}
.sidebar-logo {
    color: white;
    position: absolute;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16vh;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    flex-shrink: 2;
}


.sign-up-form {
    background-color: white;
    border: none;
    border-radius: 3px;
    padding: 20px 0;
    box-shadow: 0 6px 6px -2px lightgrey;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sign-up-form h3 {
       margin-left: 50px;
       padding: 0;
       
}

.form-instructions {
     font-size: 16px;

}

.sign-up-form ol {
    margin: 15px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 65%;
 
}

.form-input {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: 250px;
    }

input {
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    margin-top: 5px;
}

input:focus {
    outline:none;
    border: 2px solid var(--azure);
    box-shadow: 0 2px px -2px black;
}
#main-form.submitted input:invalid{
    border-color:  red;
  }

.join-btn {
    margin: 20px 50px;
    width: 250px;
    background-color: #622363;
}
.form-navbar {
    padding: 50px;
    justify-content: end;
}

span {
    color: red;
    margin-top: 5px;
}
.hidden {
    display: none;
}