* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.dark-background {
    background-color: #1f2937;
    color: #f9faf8;
 }
/* Navbar */

a {
    text-decoration: none;
}

a:visited {
    color: white;
}
.navbar, .hero {
    display: flex;   
    padding: 0 220px;
}
.navbar {
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 100px;
}
.header-logo {
    display: flex;
    align-items: center;
}
.fa-shield-dog {
    font-size: 48px;
    color: white;
    padding: 15px;
}
.header,
.nav-menu {
    list-style-type: none;
    cursor: pointer;
    display: flex;
    gap: 25px;
}
/* Hero */
.hero {
    align-items: center;
    justify-content: space-between;
}
 
.hero-text {
    max-width: 45%;
    line-height: 1.5;
 
}
.hero-text > * {
    margin-bottom: 40px;
}
.hero-img {
    width: 600px;
    flex-shrink: 0;
    margin: 50px 0;
    border-radius: 15px;
}
.hero p {
    color: #e5e7eb;
}

.hero h1 {
    font-size: 48px;
    font-weight:900;
    margin: 0;
}

.cta, button {
    background-color: #3882f6;
}

.hero-btn, .sign-up-btn {
    color: #f9faf8;
    font-weight: bold;
    font-size: 20px;
    height: 60px;
    width: 180px;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;

}
/* Cards */
.cards, .testimonials {
    color: #1f2937;
}

.cards h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}
.service-description {
    margin: 0 auto 50px;
    text-align: center;
    max-width: 45%;
}
.cards-container {
    max-width: 45%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
 
}

.card-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.card {
    border: 3px solid #3882f6;
    border-radius: 15px;
    height: 140px;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-caption {
max-width: 160px;
text-align: center;
font-size: 16px;
}

/* Testimonials */
.testimonials {
    margin-top: 50px;
    background-color: #e5e7eb;
    padding: 60px 400px;
}

.testimonial-text {
font-size: 36px;
font-style: italic;
font-weight:300;
margin: 0 auto;
}
.signature {
    font-weight: bold;
    text-align: right;
}

/* CTA */
.cta {
    max-width: 60%;
    margin: 80px auto;
    padding: 50px 120px;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-container h3 {
    font-size: 26px;

}

.cta-container > * {
    margin: 0;
    line-height: 1.5;
    max-width: 80%;
}

.sign-up-btn {
    border: 2px solid white;
    padding: 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 50px 150px;
}
.log-in, .log-in:visited {
    color: black;
}

/*Form Page*/
.form-page {
    display: flex;
     
}

.form-img {
    background-image: url("./Assets/dog-pack.jpg");
    background-size: cover;
    width: 35%;
    position: relative;

}
.form-logo {
    position: absolute;
    top: 15%;
    display: block;
    background-color: #1f2937;
    width: 100%;
    opacity: 50%;
}
.form-text {
    width: 65%;
    padding: 80px 30px;
}

.form-text p {
      font-size: 24px;
    max-width: 1000px;
}

.sign-up-form ol {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}